.mainColorBg {
background: #2f2f71;
}
.mainColorText {
    color: #2f2f71;
}

.findJobber {
    margin:15px !important;
    background: #f2f2f2;
    padding: 15px;
    border-radius: 10px;
    border-bottom: 1px solid #cbcbcb;
}
.joobersList {
    background: #fafafa;
    margin: 15px !important;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #eaeaea;
}

.addJoberInput {

    width: 80%;
    margin: 13px auto;
}
.jobbersTable {
    margin: 15px;
}
.jobbersTable tr {
    border: 1px solid #e3e3e3;
    background: white;
    border-radius: 50px;
}
.jobbersTable td {
    padding: 15px;
    text-align: center;
}
.jobbersTable thead tr{
    padding: 15px;
    background: no-repeat;
    border: none;
}
.jobbersTable thead th{
    text-align: center;
}
.listCommentIcon {

    font-size: 34px;
}

.JooberListTitle {
    margin: 15px 0 15px 0;
    padding-bottom: 11px;
    font-size: larger;
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #dbdbdb;
}

/* //Comments UsersInfo */
.commentsBlock {
    background: #f8f8f8;
    margin: 12px;
    border: 1px solid #d7d7d7;
    border-radius: 7px;
    padding: 7px;
}
.commentUserInfo {
    border-bottom: 1px solid #dadae8;
    width: 99%;
    margin: 0 auto;
}
.userCommentRaiting {
    text-align: end;
}
.commentInfo{
    text-transform: capitalize;
    font-size: 1.2em;
    width: 100%;
    justify-content: center;
    color: #525252;
    font-weight: 400;
}
.userinfoTable {
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 2em
}
 .userinfoPhoto  {
    width: 92%;
    margin: 0 auto;
    display: block;
    max-width: 200px;
 }
 .userInfoMain {
    background: aliceblue;
    border: 1px solid #bebed3;
    padding: 7px;
 }
 .userInfoTitle {
    width: 100%;
    background: aliceblue;
    margin: 15px 0 15px 0;
    padding: 8px;
    font-size: 18px;
    color: #2b2b2c;
    font-weight: 700;
 }
 .userAddCommentTitle {
    width: 100%;
    margin: 15px 0 15px 0;
    padding: 8px;
    font-size: 18px;
    color: #2b2b2c;
    font-weight: 700;
    border-bottom: 1px solid #2f2f71;
    justify-content: center;
 }
 .userAddCommentRaiting {
    justify-content: center;
 }

 .addNewComment{
    margin-top: 11px;
   
    padding: 14px;
    background: #f8f8f8;
 }
 .addCommentButton {
    justify-content: center;
 }
 .commentInSearch {
    margin: 11px 0 11px 0;
     justify-content: center;
 }